/* HEADER */

.info-page__header {
    position: relative;
    width: 100%;
    @media screen and(max-width: 1024px) {}
    &__banner {
        height: 60vh;
        overflow: hidden;
        position: relative;
        @media screen and(max-width: 1024px) {
            height: 40vh;
        }
        img {
            width: 100%;
            height: 60vh;
            object-fit: cover;
            background-position: center center;
            @media screen and(max-width: 1024px) {
                height: 40vh;
            }
        }
        .info-page__header__poster-info {
            position: absolute;
            display: flex;
            align-content: space-between;
            flex-direction: column;
            z-index: 1;
            left: 20%;
            bottom: 30px;
            @media screen and(min-width: 1200px) {
                left: 400px;
                bottom: 100px;
            }
            &--name {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                max-width: 280px;
                color: #FFFFFF;
                @media screen and(max-width: 1000px) {
                    font-size: 20px;
                    max-width: 240px;
                }
                @media screen and(max-width: 400px) {
                    font-size: 16px;
                    max-width: 180px;
                    margin-bottom: 20px;
                }
            }
            &--time {
                font-size: 15px;
                display: flex;
                max-width: 280px;
                color: #8a9dc5;
                justify-content: space-between;
                @media screen and(max-width: 700px) {
                    font-size: 12px;
                }
                @media screen and(max-width: 400px) {
                    font-size: 10px;
                }
            }
            &--brand {
                font-size: 13px;
                margin-top: -10px;
                width: 120px;
                margin-bottom: 10px;
                color: #dbe2fb;
                border: 1px solid rgba(163, 177, 198, 0.2);
                text-transform: uppercase;
                padding: 3px 17px;
                border-radius: 18px;
                -webkit-transition: all ease 0.3s;
                transition: all ease 0.3s;
                cursor: pointer;
                background-color: #00112e;
            }
            &--brand:hover {
                opacity: 0.8;
                box-shadow: 0px 0px 30px 5px #032055;
                transform: translateY(-3px);
            }
        }
    }
    &__btn-group {
        height: 15vh;
        background: #00102A;
        position: relative;
        display: flex;
        justify-content: flex-end;
        @media screen and(max-width: 768px) {
            padding-bottom: 200px;
        }
        &--img {
            border-radius: 5px;
            position: inherit;
            display: block;
            position: absolute;
            bottom: -3.5vh;
            left: 3%;
            height: 46vh;
            object-fit: cover;
            border-radius: 5px;
            @media screen and(max-width: 1200px) {
                display: none;
            }
        }
        .info-page--fas-style {
            position: absolute;
            left: 10%;
            bottom: 18vh;
            z-index: 1;
            background-color: #112851;
            color: #ffffff;
            font-size: 18px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            cursor: pointer;
            border-radius: 50%;
            transition: all 0.4s ease;
            @media screen and(max-width: 1200px) {
                display: none;
            }
        }
        .info-page--fas-style:hover {
            opacity: 1;
        }
        &__statistic {
            color: #FFFFFF;
            font-size: 18px;
            display: flex;
            margin: 0 5% !important;
            max-width: 90%;
            justify-content: space-between;
            align-items: center;
            @media screen and(max-width: 768px) {
                flex-direction: column;
            }
            &--btnbook {
                height: 35px;
                border-radius: 40px;
                font-size: 15px;
                font-weight: bold;
                flex-basis: 10%;
                color: #FFFFFF;
                border: 1px solid #000000;
                box-sizing: border-box;
                flex-wrap: wrap;
                min-width: 60px;
                background: linear-gradient(90deg, rgba(27, 203, 183, 1), rgba(50, 171, 255, 1), rgba(167, 114, 255, 1));
                @media screen and(max-width: 768px) {
                    font-size: 13px;
                    flex-basis: 25%;
                    height: 4vh;
                }
            }
            &__ticket-number {
                flex-basis: 15%;
                @media screen and(max-width: 768px) {
                    font-size: 13px;
                    flex-basis: 25%;
                    padding-top: 5px;
                }
            }
            &__total-post {
                flex-basis: 27%;
                @media screen and(max-width: 768px) {
                    font-size: 13px;
                    flex-basis: 60%;
                }
            }
            &__rate {
                flex-basis: 25%;
                @media screen and(max-width: 768px) {
                    font-size: 13px;
                    flex-basis: 55%;
                }
            }
            &__rate .fa-star {
                color: #FFFFFF;
            }
            &__rate .fa-star:hover {
                color: #f1481f;
            }
        }
    }
}