@import "./header.scss";
@import "./img-group.scss";
@import "./tab-content.scss";


.info-page--effect {
    cursor: pointer;
    transition: all 0.4s ease;
}       
.info-page--effect:hover {
    opacity: 0.5;
    transform: translateY(-5px);
} 
.fa-star--style {
    color: #f1481f;
    transition: all 0.4s;
    cursor: pointer;
}
    
.fa-star--style:active {
    opacity: 1;
    color: #f1481f;
}
          
.fa-user-circle {
    cursor: pointer;
    transition: opacity 0.4s ease;
}
    
.fa-user-circle:hover {
    opacity: 0.5;
}
.info-page {
    width: 100%;
    background: #000C20;
}