.card {
  width: 100%;
  background-color: transparent;
  color: white;
  padding-top: 15px;
  border: none; }
  @media (min-width: 556px) {
    .card {
      padding-top: 20px; } }
  @media (min-width: 992px) {
    .card {
      padding-top: 25px; } }
  @media (min-width: 1200px) {
    .card {
      padding-top: 30px; } }
  .card #before-img {
    padding: 0;
    padding-right: 5px; }
    @media (min-width: 556px) {
      .card #before-img {
        padding-right: 5px; } }
    @media (min-width: 992px) {
      .card #before-img {
        padding: 0 10px; } }
    @media (min-width: 1200px) {
      .card #before-img {
        padding: 0 15px; } }
  .card .card-body {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .card .card-body .card-title {
      font-size: 10px; }
      @media (min-width: 556px) {
        .card .card-body .card-title {
          font-size: 15px; } }
      @media (min-width: 992px) {
        .card .card-body .card-title {
          font-size: 21px; } }
      @media (min-width: 1200px) {
        .card .card-body .card-title {
          font-size: 26px; } }
    .card .card-body .card-text {
      padding-bottom: 3px;
      font-size: 9px;
      font-weight: 300;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 3;
      line-height: 0.7rem; }
      @media (min-width: 556px) {
        .card .card-body .card-text {
          font-size: 15px;
          line-height: 1rem; } }
      @media (min-width: 992px) {
        .card .card-body .card-text {
          font-size: 18px;
          line-height: 1.3rem; } }
      @media (min-width: 1200px) {
        .card .card-body .card-text {
          font-size: 21px;
          line-height: 1.6rem; } }
    .card .card-body .card-category, .card .card-body .card-date small {
      font-size: 9px;
      color: white;
      font-weight: 300;
      margin: 0; }
      @media (min-width: 556px) {
        .card .card-body .card-category, .card .card-body .card-date small {
          font-size: 15px; } }
      @media (min-width: 992px) {
        .card .card-body .card-category, .card .card-body .card-date small {
          font-size: 18px; } }
      @media (min-width: 1200px) {
        .card .card-body .card-category, .card .card-body .card-date small {
          font-size: 21px; } }
    .card .card-body .card-date {
      margin-bottom: 2px; }
      @media (min-width: 992px) {
        .card .card-body .card-date {
          margin-bottom: 5px; } }
    .card .card-body .card-footer {
      border-radius: 5px;
      border-top: 1px solid;
      border-bottom: 1px solid;
      padding: 2px 0; }
      @media (min-width: 556px) {
        .card .card-body .card-footer {
          padding: 5px 0; } }
      @media (min-width: 992px) {
        .card .card-body .card-footer {
          padding: 8px 0; } }
      @media (min-width: 1200px) {
        .card .card-body .card-footer {
          padding: 12px 0; } }
      .card .card-body .card-footer__items h4 {
        margin: 0;
        font-weight: 300;
        font-size: 9px; }
        @media (min-width: 556px) {
          .card .card-body .card-footer__items h4 {
            font-size: 15px; } }
        @media (min-width: 992px) {
          .card .card-body .card-footer__items h4 {
            font-size: 21px; } }
        @media (min-width: 1200px) {
          .card .card-body .card-footer__items h4 {
            font-size: 24px; } }
      .card .card-body .card-footer__items--circle {
        background-color: #032253;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin-right: 5px;
        cursor: pointer; }
        @media (min-width: 556px) {
          .card .card-body .card-footer__items--circle {
            height: 20px;
            width: 20px; } }
        @media (min-width: 992px) {
          .card .card-body .card-footer__items--circle {
            height: 30px;
            width: 30px;
            margin-right: 10px; } }
        @media (min-width: 1200px) {
          .card .card-body .card-footer__items--circle {
            height: 40px;
            width: 40px; } }
        .card .card-body .card-footer__items--circle i {
          font-size: 10px; }
          @media (min-width: 556px) {
            .card .card-body .card-footer__items--circle i {
              font-size: 14px; } }
          @media (min-width: 992px) {
            .card .card-body .card-footer__items--circle i {
              font-size: 18px; } }
          @media (min-width: 1200px) {
            .card .card-body .card-footer__items--circle i {
              font-size: 21px; } }
        .card .card-body .card-footer__items--circle .colorred {
          color: #e62b88; }
      .card .card-body .card-footer__items--button {
        border: none;
        color: white;
        background: linear-gradient(270deg, #1BCBB7 0%, #32ABFF 50%, #A772FF 100%);
        border-radius: 15px;
        padding: 0 5px;
        font-weight: 300;
        font-size: 9px; }
        @media (min-width: 556px) {
          .card .card-body .card-footer__items--button {
            font-size: 15px;
            border-radius: 30px;
            padding: 3px 30px; } }
        @media (min-width: 992px) {
          .card .card-body .card-footer__items--button {
            font-size: 21px;
            border-radius: 40px;
            padding: 5px 40px; } }
        @media (min-width: 1200px) {
          .card .card-body .card-footer__items--button {
            font-size: 24px; } }
        .card .card-body .card-footer__items--button:hover {
          filter: hue-rotate(45deg); }

.effect-and-categogy .categogy {
  margin-top: 5px; }
  @media (min-width: 556px) {
    .effect-and-categogy .categogy {
      margin-top: 10px; } }
  @media (min-width: 992px) {
    .effect-and-categogy .categogy {
      margin-top: 15px; } }
  @media (min-width: 1200px) {
    .effect-and-categogy .categogy {
      margin-top: 20px; } }

.effect-and-categogy .categogy, .effect-and-categogy .effect {
  background: #032253;
  padding: 5px;
  border-radius: 5px;
  border-bottom: 2px solid #fff; }
  @media (min-width: 556px) {
    .effect-and-categogy .categogy, .effect-and-categogy .effect {
      padding: 10px; } }
  @media (min-width: 992px) {
    .effect-and-categogy .categogy, .effect-and-categogy .effect {
      padding: 15px;
      border-radius: 10px; } }
  @media (min-width: 1200px) {
    .effect-and-categogy .categogy, .effect-and-categogy .effect {
      padding: 20px; } }
  .effect-and-categogy .categogy__text, .effect-and-categogy .effect__text {
    font-size: 10px;
    font-weight: 400;
    color: white;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    background: linear-gradient(270deg, #1BCBB7 0%, #32ABFF 51.56%, #A772FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    @media (min-width: 556px) {
      .effect-and-categogy .categogy__text, .effect-and-categogy .effect__text {
        font-size: 15px;
        font-weight: 500; } }
    @media (min-width: 992px) {
      .effect-and-categogy .categogy__text, .effect-and-categogy .effect__text {
        font-size: 21px;
        font-weight: 600;
        padding-bottom: 10px; } }
    @media (min-width: 1200px) {
      .effect-and-categogy .categogy__text, .effect-and-categogy .effect__text {
        font-size: 24px;
        font-weight: 700; } }
  .effect-and-categogy .categogy__items, .effect-and-categogy .effect__items {
    display: flex;
    align-items: center;
    color: white;
    padding: 2px 0; }
    @media (min-width: 556px) {
      .effect-and-categogy .categogy__items, .effect-and-categogy .effect__items {
        padding: 7px 0; } }
    @media (min-width: 992px) {
      .effect-and-categogy .categogy__items, .effect-and-categogy .effect__items {
        padding: 15px;
        padding: 10px 0; } }
    .effect-and-categogy .categogy__items--checkbox, .effect-and-categogy .effect__items--checkbox {
      width: 10px;
      height: 10px;
      margin-right: 5px; }
      @media (min-width: 556px) {
        .effect-and-categogy .categogy__items--checkbox, .effect-and-categogy .effect__items--checkbox {
          width: 10px;
          height: 10px;
          margin-right: 5px; } }
      @media (min-width: 992px) {
        .effect-and-categogy .categogy__items--checkbox, .effect-and-categogy .effect__items--checkbox {
          width: 15px;
          height: 15px;
          margin-right: 10px; } }
      @media (min-width: 1200px) {
        .effect-and-categogy .categogy__items--checkbox, .effect-and-categogy .effect__items--checkbox {
          width: 20px;
          height: 20px;
          margin-right: 15px; } }
    .effect-and-categogy .categogy__items label, .effect-and-categogy .effect__items label {
      margin: 0;
      font-size: 10px;
      font-weight: 300; }
      @media (min-width: 556px) {
        .effect-and-categogy .categogy__items label, .effect-and-categogy .effect__items label {
          font-size: 12px; } }
      @media (min-width: 992px) {
        .effect-and-categogy .categogy__items label, .effect-and-categogy .effect__items label {
          font-size: 15px; } }
      @media (min-width: 1200px) {
        .effect-and-categogy .categogy__items label, .effect-and-categogy .effect__items label {
          font-size: 18px; } }

.page-item .page-link {
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 10px;
  padding: 0.2rem 0.4rem; }
  .page-item .page-link:hover {
    filter: hue-rotate(90deg); }
  @media (min-width: 556px) {
    .page-item .page-link {
      font-size: 15px; } }
  @media (min-width: 992px) {
    .page-item .page-link {
      font-size: 21px;
      padding: 0.5rem 1rem; } }
  @media (min-width: 1200px) {
    .page-item .page-link {
      font-size: 24px; } }

.searchbox {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #fff;
  margin-top: 20px;
  color: #fff;
  width: 80%;
  font-size: 10px; }
  @media (min-width: 556px) {
    .searchbox {
      width: 80%;
      font-size: 15px; } }
  @media (min-width: 992px) {
    .searchbox {
      width: 60%;
      font-size: 21px; } }
  @media (min-width: 1200px) {
    .searchbox {
      width: 60%;
      font-size: 24px; } }
  .searchbox__input {
    background-color: #688D89;
    border: none;
    outline: none;
    width: 95%;
    color: #fff;
    cursor: default; }
    .searchbox__input::placeholder {
      color: #fff; }
  .searchbox__icon {
    cursor: pointer; }
    .searchbox__icon .fa-search {
      font-weight: 500; }
    .searchbox__icon .fa-times {
      font-weight: 300;
      margin-right: 10px;
      visibility: hidden;
      cursor: pointer; }
  .searchbox__input:not(:placeholder-shown) ~ .searchbox__icon .fa-times {
    visibility: visible; }

.sub-filter {
  float: right;
  justify-content: space-evenly; }
  .sub-filter__text {
    margin: 0;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    margin-right: 10px; }
    @media (min-width: 556px) {
      .sub-filter__text {
        font-size: 15px; } }
    @media (min-width: 992px) {
      .sub-filter__text {
        font-size: 21px;
        margin-right: 20px; } }
    @media (min-width: 1200px) {
      .sub-filter__text {
        font-size: 24px; } }
  .sub-filter__form {
    border-radius: 10px;
    font-size: 10px;
    font-weight: 300;
    background-color: transparent;
    outline: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 5px; }
    @media (min-width: 556px) {
      .sub-filter__form {
        border-radius: 20px;
        font-size: 15px; } }
    @media (min-width: 992px) {
      .sub-filter__form {
        border-radius: 25px;
        font-size: 21px;
        padding-left: 20px;
        padding-right: 10px; } }
    @media (min-width: 1200px) {
      .sub-filter__form {
        border-radius: 30px;
        font-size: 24px; } }
    .sub-filter__form option {
      color: #fff;
      background-color: #000C20; }

.select {
  justify-content: space-between;
  padding: 5px 0; }
  @media (min-width: 556px) {
    .select {
      padding: 10px 0; } }
  @media (min-width: 992px) {
    .select {
      padding: 20px 0; } }
  @media (min-width: 1200px) {
    .select {
      padding: 30px 0; } }
  .select__items {
    font-size: 10px !important; }
    @media (min-width: 556px) {
      .select__items {
        font-size: 15px !important; } }
    @media (min-width: 992px) {
      .select__items {
        font-size: 21px !important; } }
    @media (min-width: 1200px) {
      .select__items {
        font-size: 24px !important; } }
    .select__items--text {
      color: white; }
    .select__items--wrapper {
      background-color: #fff;
      border-radius: 50%;
      cursor: pointer;
      height: 20px;
      width: 20px;
      margin-right: 5px; }
      @media (min-width: 556px) {
        .select__items--wrapper {
          height: 35px;
          width: 35px; } }
      @media (min-width: 992px) {
        .select__items--wrapper {
          margin-left: 10px;
          height: 45px;
          width: 45px; } }
      @media (min-width: 1200px) {
        .select__items--wrapper {
          height: 56px;
          width: 56px; } }

.searchbox-and-sub-searchbox {
  background-color: #688D89;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px; }
  @media (min-width: 556px) {
    .searchbox-and-sub-searchbox {
      width: 80%;
      border-radius: 5px; } }
  @media (min-width: 992px) {
    .searchbox-and-sub-searchbox {
      width: 70%;
      border-radius: 8px; } }
  @media (min-width: 1200px) {
    .searchbox-and-sub-searchbox {
      width: 70%;
      border-radius: 10px; } }

.main-body {
  margin-top: 20px; }
  @media (min-width: 556px) {
    .main-body {
      margin-top: 30px; } }
  @media (min-width: 992px) {
    .main-body {
      margin-top: 40px; } }
  @media (min-width: 1200px) {
    .main-body {
      margin-top: 60px; } }
