.container-fluid {
    background-color: white;
    
}
.container-right {
    padding-bottom: 30px;
    .main-title {
        padding: 40px 0;
    }
    .search-and-button-gr {

        .button-gr {
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 30px;
    
            button {
                font-weight: 500;
                font-size: 12px;
                padding:6px 20px;
                
                @media (min-width:768px) {
                    font-size: 14px;
                }
                @media (min-width:992px) {
                    font-size: 16px;
                    padding:6px 30px;
                }
            }
        }
        .input-group {
            margin-bottom: 20px;
            .input-group-text {
                i {
                    cursor: pointer;
                }
            }
        }
    }
    
    .table-cover {
        .table {
            thead th, tbody td {
                font-size: 14px;
                @media (min-width:992px){
                    font-size: 16px;
                }
            }
        }
    }
}