.sub-filter {
    padding-right: 10px;
    float:right;
    justify-content: space-evenly;
    
    &__text {
        margin:0;
        font-size: 12px;
        font-weight: 300;
        color:#fff;
        margin-right: 10px;
        @media (min-width:556px){
            font-size: 15px;
        }
        @media (min-width:992px){
            font-size: 21px;
            margin-right: 20px;
        }
        @media (min-width:1200px){
            font-size: 24px;
        }
    }
    &__form {
        border-radius: 10px;
        font-size: 12px;
        font-weight: 300;
        background-color: transparent;
        outline: none;
        color:#fff;
        padding:3px 10px 3px 5px;

        @media (min-width:556px){
            border-radius: 20px;
            font-size: 15px;
            padding-right: 8px;
        }
        @media (min-width:992px){
            border-radius: 25px;
            font-size: 21px;
            padding-left:20px;
            padding-right: 10px;
            
        }
        @media (min-width:1200px){
            border-radius: 30px;
            font-size: 24px;
        }
        option {
            color:#031a42;
            background-color: #fff;
        }
    }
} 