@import '../../common/variable.scss';

.login-section{
    height: 100vh;
    width: 100%;
    background: #000C20;
    color: $white;

    display: flex;
    justify-content: center;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    height: 80%;
    width: 30%;
    background: #000C20;
    box-shadow: 0px 0px 100px 5px #042156;
    text-align: center;
    &__sub-title{
        margin-top: 60px;
        color: $aqua;
        font-weight: 300;
        font-size: 24px;
        letter-spacing: 0.05em;
    }
    &__title{
        font-weight: bold;
        font-size: 28px;
        letter-spacing: 0.1em;
        margin-bottom: 60px;
    }

    &__input{
        display: inline-block;
        width: 70%;
        &__title{
            margin-bottom: 10px;
            text-align: left;
            font-size: 18px;
            span{
                color: red;
            }
        }
        input{
            width: 100%;
            height: 30px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $blue-light;
        }
        input::placeholder{
            color: $blue-light;
            font-size: 16px;
        }
        input:focus{
            outline: none;
            color: $white;
        }
    }
    &__option{
        margin-bottom: 30px;
        width: 70%;
        display: flex;
        justify-content: space-between;

        color: $white;
        font-size: 14px;
        &__save{
            display: flex;

            input[type="checkbox"] {
                margin-right: 10px;
                -webkit-appearance: none;
                height: 16px;
                width: 16px;
                background-color: transparent;
                border: 2px solid $aqua;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            input[type="checkbox"]::after {
                font-family: "Font Awesome 5 Free";
                content: "\f111";
                font-size: 8px;
                font-weight: 600;
                color: $aqua;
                display: none;
            }
            input[type="checkbox"]:checked:after {
                display:block;
            }
        }
    }
    &__btn{
        margin-bottom: 20px;
        padding: 8px 40px;
        text-decoration: none;
        &:hover{
            color: white;
        }
    }
}

