@import "../../common/variable.scss";

.booking-page__form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 15px;
    background-color: $blue-mid;
    .showtime{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-weight: 300;
        &__date{
            margin: 10px;
            font-size: 16px;
            text-transform: uppercase;
            @media (min-width: 576px) {
                font-size: 21px;
            }
        }
        &__box{
            margin: 10px;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: 500;

            border-radius: 8px;
            border: none;
            color: white;
            box-shadow: 0px 10px 15px 0px rgba(59,55,188,0.5);
            background: linear-gradient(270deg, #1BCBB7 0%, #32ABFF 50%, #A772FF 100%);
            
            @media (min-width: 576px) {
                font-size: 24px;
            }
        }
    }
}