@import "./seat";
@import "./filter";
@import "./banner";
.booking-page{
    background-color: #000C20;
    color: white;
}
.booking-page__checkout{
    text-align: center;
    margin-top: 30px;
    a{
        padding: 5px 20px;
        font-size: 14px;
        @media (min-width: 576px) {
            padding: 10px 30px;
            font-size: 18px;
        }
    }
}