* {
  margin: 0 !important;
  padding: 0 !important;
}

.info-page--effect {
  cursor: pointer;
  -webkit-transition: opacity 0.4 ease;
  transition: opacity 0.4 ease;
}

.info-page--effect:hover {
  opacity: 0.5;
}

.fa-star {
  color: #f1481f;
}

.fa-star:active {
  color: #FFFFFF;
}

.fa-user-circle {
  cursor: pointer;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.fa-user-circle:hover {
  opacity: 0.5;
}

.info-page {
  /* Info */
  width: 100%;
  height: 300vh;
  background: #000C20;
  /* HEADER */
  /* HEADER */
  /*TAB-CONTENT*/
}

.info-page__header {
  position: relative;
  width: 100%;
  height: 75vh;
}

.info-page__header__nav {
  position: fixed;
  height: 8vh;
  top: 0px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: #032055;
  opacity: 0.5;
  z-index: 1;
}

.info-page__header__banner {
  height: 60vh;
  overflow: hidden;
}

.info-page__header__banner--img {
  display: inline-block;
  width: 100%;
  height: 60vh;
  background-position: center center;
}

.info-page__header__btn-group {
  height: 15vh;
  background: #00102A;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info-page__header__btn-group__poster {
  position: absolute;
  bottom: 0;
  left: 3%;
  height: 50vh;
}

.info-page__header__btn-group__poster--img {
  border-radius: 5px;
  position: inherit;
  display: block;
  bottom: -3.5vh;
  height: 46vh;
}

.info-page__header__btn-group__poster__info {
  position: inherit;
  right: 0;
  top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-page__header__btn-group__poster__info--name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  color: #FFFFFF;
}

.info-page__header__btn-group__poster__info--time {
  font-size: 15px;
  margin-top: 20px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #8a9dc5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-page__header__btn-group__poster__info--brand {
  margin-top: 20px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #385486;
  opacity: 0.5;
  cursor: pointer;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.info-page__header__btn-group__poster__info--brand:hover {
  opacity: 1;
}

.info-page__header__btn-group__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: lighter;
}

.info-page__header__btn-group__statistic--btnbook {
  height: 35px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  color: #FFFFFF;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, right top, from(#1bcbb7), color-stop(#32abff), to(#a772ff));
  background: linear-gradient(90deg, #1bcbb7, #32abff, #a772ff);
}

.info-page__header__btn-group__statistic__rate {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.info-page__header__btn-group__statistic__rate .fa-star {
  color: #FFFFFF;
}

.info-page__header__btn-group__statistic__rate .fa-star:hover {
  color: #f1481f;
}

.info-page__img-group {
  height: 40vh;
  width: 90%;
  margin: 5vh 5% !important;
}

.info-page__img-group__text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  background: -webkit-gradient(linear, right top, left top, from(#1BCBB7), color-stop(48.96%, #32ABFF), color-stop(64.58%, #569AFF), to(#A772FF));
  background: linear-gradient(270deg, #1BCBB7 0%, #32ABFF 48.96%, #569AFF 64.58%, #A772FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 200px;
}

.info-page__img-group__text {
  border-bottom: 1px solid #16305D;
  height: 7.5vh;
  opacity: 0.8;
}

.info-page__img-group__group {
  height: 30vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-page__img-group__group--item {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
}

.info-page__tab-content {
  width: 90%;
  height: 60vh;
  margin: 5vh 5% !important;
  overflow: hidden;
}

.info-page__tab-content__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 10vh;
  border-bottom: 3px solid #16305D;
}

.info-page__tab-content__tab__tablinks {
  max-height: 5vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
  background: -webkit-gradient(linear, right top, left top, from(#1BCBB7), color-stop(48.96%, #32ABFF), color-stop(64.58%, #569AFF), to(#A772FF));
  background: linear-gradient(270deg, #1BCBB7 0%, #32ABFF 48.96%, #569AFF 64.58%, #A772FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-page__tab-content__tab--tabcontent {
  font-family: Roboto;
  font-style: normal;
  font-size: 1rem;
  color: #FFFFFF;
  height: 60vh;
}

.info-page__tab-content__tab--tabcontent--tag {
  max-height: 20vh;
  overflow: hidden;
  margin-top: 3vh !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px dashed #FFFFFF;
}

.info-page__tab-content__tab--tabcontent--btnmore {
  font-weight: 600;
  padding: 10px 42px;
  border: 1px solid #11326f;
  color: #ffffff;
  border-radius: 25px;
  display: inline-block;
  width: 100px;
  margin: 3vh 45% !important;
  background-color: #001232;
}

.info-page .user-avt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 6vh;
}

.info-page .user-avt .fa-user-circle {
  border: 2px solid #1BCBB7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  font-size: 28px;
  color: #FFFFFF;
}

.info-page .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 6vh;
}

.info-page .user-info p {
  font-size: 15px;
  font-style: italic;
}

.info-page .user-info h4 {
  margin: 2vh 0 !important;
  cursor: pointer;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.info-page .user-info h4:hover {
  color: #1BCBB7;
  opacity: 0.5;
}

.info-page .user-comment {
  background-color: #000c20;
}

.info-page .user-comment input {
  font-family: Roboto;
  font-size: 20px;
  color: #FFFFFF;
  overflow: hidden;
  background-color: #000c20;
  border: none;
  min-height: 6vh;
}

.info-page .user-comment div {
  margin: 2vh 0 !important;
}

.info-page .user-comment__evaluate {
  max-width: 40%;
}

.info-page .user-comment__vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  max-width: 80%;
  font-style: italic;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-page .user-comment__vote--like {
  border-right: 1.2px solid #FFFFFF;
  padding-right: 10% !important;
  color: #3AD6AB;
}

.info-page .user-comment__vote--dislike {
  border-right: 1.2px solid #FFFFFF;
  padding-right: 10% !important;
  color: #B22830;
}

.info-page .user-comment__vote--report {
  border-right: 1.2px solid #FFFFFF;
  padding-right: 10% !important;
}

.info-page .user-comment__vote input {
  font-family: Roboto;
  font-size: 15px;
  color: #FFFFFF;
  overflow: hidden;
  background-color: #000c20;
  border: none !important;
}
/*# sourceMappingURL=style.css.map */