.container-fluid {
  background-color: #000C20;
  height: 3000px;
}

.main-body {
  margin-top: 80px;
}

.searchbox-and-select {
  background-color: #688D89;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 3px;
}

@media (min-width: 556px) {
  .searchbox-and-select {
    margin-top: 20px;
    border-radius: 5px;
  }
}

@media (min-width: 992px) {
  .searchbox-and-select {
    margin-top: 50px;
    border-radius: 8px;
  }
}

@media (min-width: 1200px) {
  .searchbox-and-select {
    margin-top: 70px;
    border-radius: 10px;
  }
}

.searchbox-and-select .searchbox {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #fff;
  margin-top: 20px;
  color: #fff;
  width: 80%;
  font-size: 10px;
}

@media (min-width: 556px) {
  .searchbox-and-select .searchbox {
    width: 80%;
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .searchbox-and-select .searchbox {
    width: 60%;
    font-size: 21px;
  }
}

@media (min-width: 1200px) {
  .searchbox-and-select .searchbox {
    width: 60%;
    font-size: 24px;
  }
}

.searchbox-and-select .searchbox__input {
  background-color: #688D89;
  border: none;
  outline: none;
  width: 95%;
  color: #fff;
}

.searchbox-and-select .searchbox__input::-webkit-input-placeholder {
  color: #fff;
}

.searchbox-and-select .searchbox__input:-ms-input-placeholder {
  color: #fff;
}

.searchbox-and-select .searchbox__input::-ms-input-placeholder {
  color: #fff;
}

.searchbox-and-select .searchbox__input::placeholder {
  color: #fff;
}

.searchbox-and-select .searchbox__icon {
  cursor: pointer;
}

.searchbox-and-select .searchbox__icon .fa-search {
  font-weight: 500;
}

@media (min-width: 556px) {
  .searchbox-and-select .select {
    padding: 10px 0;
  }
}

@media (min-width: 992px) {
  .searchbox-and-select .select {
    padding: 20px 0;
  }
}

@media (min-width: 1200px) {
  .searchbox-and-select .select {
    padding: 30px 0;
  }
}

.searchbox-and-select .select__items {
  font-size: 10px !important;
}

@media (min-width: 556px) {
  .searchbox-and-select .select__items {
    font-size: 15px !important;
  }
}

@media (min-width: 992px) {
  .searchbox-and-select .select__items {
    font-size: 21px !important;
  }
}

@media (min-width: 1200px) {
  .searchbox-and-select .select__items {
    font-size: 24px !important;
  }
}

.searchbox-and-select .select__items--text {
  color: white;
}

.searchbox-and-select .select__items--wrapper {
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

@media (min-width: 556px) {
  .searchbox-and-select .select__items--wrapper {
    height: 35px;
    width: 35px;
  }
}

@media (min-width: 992px) {
  .searchbox-and-select .select__items--wrapper {
    margin-left: 10px;
    height: 45px;
    width: 45px;
  }
}

@media (min-width: 1200px) {
  .searchbox-and-select .select__items--wrapper {
    height: 56px;
    width: 56px;
  }
}

.effect-and-categogy .categogy {
  margin-top: 5px;
}

@media (min-width: 556px) {
  .effect-and-categogy .categogy {
    margin-top: 10px;
  }
}

@media (min-width: 992px) {
  .effect-and-categogy .categogy {
    margin-top: 15px;
  }
}

@media (min-width: 1200px) {
  .effect-and-categogy .categogy {
    margin-top: 20px;
  }
}

.effect-and-categogy .categogy, .effect-and-categogy .effect {
  background: #032253;
  padding: 5px;
  border-radius: 5px;
  border-bottom: 2px solid #fff;
}

@media (min-width: 556px) {
  .effect-and-categogy .categogy, .effect-and-categogy .effect {
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .effect-and-categogy .categogy, .effect-and-categogy .effect {
    padding: 15px;
    border-radius: 10px;
  }
}

@media (min-width: 1200px) {
  .effect-and-categogy .categogy, .effect-and-categogy .effect {
    padding: 20px;
  }
}

.effect-and-categogy .categogy__text, .effect-and-categogy .effect__text {
  font-size: 10px;
  font-weight: 400;
  color: white;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  background: -webkit-gradient(linear, right top, left top, from(#1BCBB7), color-stop(51.56%, #32ABFF), to(#A772FF));
  background: linear-gradient(270deg, #1BCBB7 0%, #32ABFF 51.56%, #A772FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 556px) {
  .effect-and-categogy .categogy__text, .effect-and-categogy .effect__text {
    font-size: 15px;
    font-weight: 500;
  }
}

@media (min-width: 992px) {
  .effect-and-categogy .categogy__text, .effect-and-categogy .effect__text {
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .effect-and-categogy .categogy__text, .effect-and-categogy .effect__text {
    font-size: 24px;
    font-weight: 700;
  }
}

.effect-and-categogy .categogy__items, .effect-and-categogy .effect__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 2px 0;
}

@media (min-width: 556px) {
  .effect-and-categogy .categogy__items, .effect-and-categogy .effect__items {
    padding: 7px 0;
  }
}

@media (min-width: 992px) {
  .effect-and-categogy .categogy__items, .effect-and-categogy .effect__items {
    padding: 15px;
    padding: 10px 0;
  }
}

.effect-and-categogy .categogy__items--checkbox, .effect-and-categogy .effect__items--checkbox {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

@media (min-width: 556px) {
  .effect-and-categogy .categogy__items--checkbox, .effect-and-categogy .effect__items--checkbox {
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
}

@media (min-width: 992px) {
  .effect-and-categogy .categogy__items--checkbox, .effect-and-categogy .effect__items--checkbox {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}

@media (min-width: 1200px) {
  .effect-and-categogy .categogy__items--checkbox, .effect-and-categogy .effect__items--checkbox {
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
}

.effect-and-categogy .categogy__items label, .effect-and-categogy .effect__items label {
  margin: 0;
  font-size: 10px;
  font-weight: 300;
}

@media (min-width: 556px) {
  .effect-and-categogy .categogy__items label, .effect-and-categogy .effect__items label {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .effect-and-categogy .categogy__items label, .effect-and-categogy .effect__items label {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .effect-and-categogy .categogy__items label, .effect-and-categogy .effect__items label {
    font-size: 18px;
  }
}

.select {
  float: right;
  padding: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.select__text {
  margin: 0;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  margin-right: 10px;
}

@media (min-width: 556px) {
  .select__text {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .select__text {
    font-size: 21px;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .select__text {
    font-size: 24px;
  }
}

.select__form {
  border-radius: 10px;
  font-size: 10px;
  font-weight: 300;
  background-color: transparent;
  outline: none;
  color: #fff;
  padding-left: 10px;
  padding-right: 5px;
}

@media (min-width: 556px) {
  .select__form {
    border-radius: 20px;
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .select__form {
    border-radius: 25px;
    font-size: 21px;
    padding-left: 20px;
    padding-right: 10px;
  }
}

@media (min-width: 1200px) {
  .select__form {
    border-radius: 30px;
    font-size: 24px;
  }
}

.select__form option {
  color: #fff;
  background-color: #000C20;
}

.card {
  width: 100%;
  background-color: transparent;
  color: white;
  padding-top: 15px;
  border: none;
}

@media (min-width: 556px) {
  .card {
    padding-top: 20px;
  }
}

@media (min-width: 992px) {
  .card {
    padding-top: 25px;
  }
}

@media (min-width: 1200px) {
  .card {
    padding-top: 30px;
  }
}

.card #before-img {
  padding: 0;
}

@media (min-width: 556px) {
  .card #before-img {
    padding: 0 5px;
  }
}

@media (min-width: 992px) {
  .card #before-img {
    padding: 0 10px;
  }
}

@media (min-width: 1200px) {
  .card #before-img {
    padding: 0 15px;
  }
}

.card .card-body {
  padding: 0;
}

.card .card-body .card-title {
  font-size: 10px;
}

@media (min-width: 556px) {
  .card .card-body .card-title {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .card .card-body .card-title {
    font-size: 21px;
  }
}

@media (min-width: 1200px) {
  .card .card-body .card-title {
    font-size: 26px;
  }
}

.card .card-body .card-text {
  padding-bottom: 3px;
  font-size: 9px;
  font-weight: 300;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 3;
  line-height: 0.7rem;
}

@media (min-width: 556px) {
  .card .card-body .card-text {
    font-size: 15px;
    line-height: 1rem;
  }
}

@media (min-width: 992px) {
  .card .card-body .card-text {
    font-size: 18px;
    line-height: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .card .card-body .card-text {
    font-size: 21px;
    line-height: 1.6rem;
  }
}

.card .card-body .card-category, .card .card-body .card-date small {
  font-size: 9px;
  color: white;
  font-weight: 300;
  margin: 0;
}

@media (min-width: 556px) {
  .card .card-body .card-category, .card .card-body .card-date small {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .card .card-body .card-category, .card .card-body .card-date small {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .card .card-body .card-category, .card .card-body .card-date small {
    font-size: 21px;
  }
}

.card .card-body .card-date {
  margin-bottom: 2px;
}

@media (min-width: 992px) {
  .card .card-body .card-date {
    margin-bottom: 5px;
  }
}

.card .card-body .card-footer {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 2px 0;
}

@media (min-width: 556px) {
  .card .card-body .card-footer {
    padding: 5px 0;
  }
}

@media (min-width: 992px) {
  .card .card-body .card-footer {
    padding: 8px 0;
  }
}

@media (min-width: 1200px) {
  .card .card-body .card-footer {
    padding: 12px 0;
  }
}

.card .card-body .card-footer__items h4 {
  margin: 0;
  font-weight: 300;
  font-size: 9px;
}

@media (min-width: 556px) {
  .card .card-body .card-footer__items h4 {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .card .card-body .card-footer__items h4 {
    font-size: 21px;
  }
}

@media (min-width: 1200px) {
  .card .card-body .card-footer__items h4 {
    font-size: 24px;
  }
}

.card .card-body .card-footer__items--circle {
  background-color: #032253;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

@media (min-width: 556px) {
  .card .card-body .card-footer__items--circle {
    height: 20px;
    width: 20px;
  }
}

@media (min-width: 992px) {
  .card .card-body .card-footer__items--circle {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
}

@media (min-width: 1200px) {
  .card .card-body .card-footer__items--circle {
    height: 40px;
    width: 40px;
  }
}

.card .card-body .card-footer__items--circle i {
  font-size: 10px;
}

@media (min-width: 556px) {
  .card .card-body .card-footer__items--circle i {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .card .card-body .card-footer__items--circle i {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .card .card-body .card-footer__items--circle i {
    font-size: 21px;
  }
}

.card .card-body .card-footer__items--button {
  border: none;
  color: white;
  background: -webkit-gradient(linear, right top, left top, from(#1BCBB7), color-stop(50%, #32ABFF), to(#A772FF));
  background: linear-gradient(270deg, #1BCBB7 0%, #32ABFF 50%, #A772FF 100%);
  border-radius: 15px;
  padding: 0 5px;
  font-weight: 300;
  font-size: 9px;
}

@media (min-width: 556px) {
  .card .card-body .card-footer__items--button {
    font-size: 15px;
    border-radius: 30px;
    padding: 3px 30px;
  }
}

@media (min-width: 992px) {
  .card .card-body .card-footer__items--button {
    font-size: 21px;
    border-radius: 40px;
    padding: 5px 40px;
  }
}

@media (min-width: 1200px) {
  .card .card-body .card-footer__items--button {
    font-size: 24px;
  }
}

.card .card-body .card-footer__items--button:hover {
  -webkit-filter: hue-rotate(45deg);
          filter: hue-rotate(45deg);
}

.page-item .page-link {
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 10px;
  padding: 0.25rem 0.5rem;
}

.page-item .page-link:hover {
  -webkit-filter: hue-rotate(90deg);
          filter: hue-rotate(90deg);
}

@media (min-width: 556px) {
  .page-item .page-link {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .page-item .page-link {
    font-size: 21px;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 1200px) {
  .page-item .page-link {
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */